$golden-yellow: #FEC842; //自訂
$golden-brown:  #8F7140; //自訂
$yellow-light:  #FFFCF3; //自訂
$dark-blue:  #315176; //自訂


//media
@mixin mw-992{
    @media (min-width: 992px){
        @content;
    }
}

@mixin mw-768{
    @media (min-width: 768px){
        @content;
    }
}

@mixin mw-576{
    @media (min-width: 576px){
        @content;
    }
}

$primary: #ffb835; //#ffb11b
$secondary: #83aa5d;
$third: #f7f7f7;
$primary-light: #fff4df;
$secondary-light: #e8ffd1;
$dark: #292929;
$danger:#dc3545;

//RWD media
@mixin view-1400 {
    @media (max-width: 1400px) {
        @content;
    }
}
@mixin view-1100 {
    @media (max-width: 1100px) {
        @content;
    }
}
@mixin view-992 {
    @media (max-width: 992px) {
        @content;
    }
}
@mixin view-768 {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin view-576 {
    @media (max-width: 576px) {
        @content;
    }
}
@mixin view-414 {
    @media (max-width: 414px) {
        @content;
    }
}
